<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="contact in contacts">
        <h2>{{contact.displayName}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div style="position:absolute; bottom:10px; display:flex; align-items:center; justify-content:center; width: 100%">
          <i class="icon ion-plus-circled positive" style="font-size: 56px;" on-tap="pickContact()"></i>
    </div>

  </ion-content>
</ion-view>
